# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv/
env/
venv/

# ========================
# Node / React Native
# ========================
node_modules/
.expo/
dist/
build/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Docker
# ========================
*.log
*.env

# ========================
# ML models (trop lourds)
# ========================
api/models/*.tflite
ml/*.h5

# ========================
# Misc
# ========================
*.jpg
*.png
